---
title: Hello GitLab
---

<h2>Welcome</h2>

<img src="/images/haskell-logo.png" style="float: right; margin: 10px;">

<p>Welcome to my blog!</p>

<p>You have found a corner of the internet that contains my thoughts. I hope you can learn some things, but keep in mind that this is all my personal experience. Use your common sense and keep in mind that not everything here is the abosolute truth.</p>

<p>If you find any mistakes or have other relevant comments or questions please don't hesitate to <a href"/contact.html">concact me</a>.</p>

<p>I've reproduced a list of recent posts here for your reading pleasure:</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
